
*{
  background-color:#92CBE8 ;
  font-family: Italic, sans-serif;
}


body {
    min-width: 150px;
    line-height: 2;
  }
  
  .navbar {
    position: fixed;
    min-width: 250px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right:solid;
    border-color: #095175;
  }
  
  header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 2em;
  }
  
  .main-doc header {
    text-align: left;
    margin: 10px;
  }
  
  .navbar ul {
    height: 60%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .navbar li {
    color: #095175;
    border-top: 3px solid;
    list-style: none;
    position: relative;
    width: 100%;
  }
  
  .navbar a {
    display: block;
    padding: 10px 30px;
    color: rgb(35, 88, 114);
    text-decoration: none;
    cursor: pointer;
  }
  
  .main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  }
  
  section article {
    color: #064665;
    margin: 15px;
    font-size: 1em;
  }
  
  section li {
    margin: 15px 0px 0px 20px;
  }
  
  code {
    display: block;
    text-align: left;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: rgb(155, 165, 171);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
  }
  
  @media only screen and (max-width: 800px) {
    #navbar ul {
      border: 1px solid;
      height: 200px;
    }
  
    #navbar {
      background-color:rgb(155, 165, 171) ;
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      max-height: 300px;
      border: none;
      z-index: 1;
      border-bottom: 2px solid;
    }
  
    #main-doc {
      position: relative;
      margin-left: 0px;
      margin-top: 300px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
}